<td><%= name %></td>
<td><%= price %></td>
<td><%= product_type %></td>

<td colspan = "3">
  <a href="#/<%= id %>">Show</a> |
  <a href="#/<%= id %>/edit">Edit</a> |
  <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</td>